#### 1. Function to Return Even Numbers from a List

In [2]:
def even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

print(even_numbers([1, 2, 3, 4, 5, 6]))

[2, 4, 6]

#### 2. Filtering a DataFrame Based on Conditions

In [4]:
import pandas as pd

data = {'id': [1, 2, 3, 4], 'age': [22, 30, 27, 24], 'score': [75, 85, 90, 78]}
df = pd.DataFrame(data)

#  age > 25 and score > 80
filtered_df = df[(df['age'] > 25) & (df['score'] > 80)]
print(filtered_df)

   id  age  score
1   2   30     85
2   3   27     90

#### 3. How to Handle Missing Values

In [5]:
df.dropna()  # Remove missing values
df.fillna(0)  # Fill missing values with 0
df.fillna(df.mean())  # Fill missing values with column average

   id  age  score
0   1   22     75
1   2   30     85
2   3   27     90
3   4   24     78

#### 4. How to Handle Missing Values

In [7]:
df.groupby('region')['sales'].sum()

#### 5. Add Cumulative Purchase Amount

In [ ]:
df['cumulative_purchase'] = df.groupby('customer_id')['purchase_amount'].cumsum()

#### 6. Merge Two DataFrames on customer_id

In [8]:
df1 = pd.DataFrame({'customer_id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'customer_id': [1, 2, 3], 'purchase': [100, 200, 300]})

merged_df = pd.merge(df1, df2, on='customer_id')
print(merged_df)

   customer_id     name  purchase
0            1    Alice       100
1            2      Bob       200
2            3  Charlie       300